// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
	font-size:0.7em;
	line-spacing: auto;
}


.time {
	font-family: $font-family-sans-serif;
	color:$gray-light;
}

.sourcename {
	font-weight:bold;
	font-family:  $font-family-sans-serif;
	color:$gray;
}